<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<title>
		<%- title %>
	</title>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link href="css/bootstrapcopy.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/stylecopy.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //font-awesome icons -->

	<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic'
		rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style6.css">
	<link rel="stylesheet" href="css/singleview.css" type='text/css'>
	<link href="css/checkout.css" rel='stylesheet' type='text/css'>
	<link href="css/admin.css" rel='stylesheet' type='text/css'>
	<link href="css/contact.css" rel='stylesheet' type='text/css'>
	<link href="css/creditly.css" rel='stylesheet' type='text/css'>
	<link href="css/flexslider.css" rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css'>
	<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'>
	<link href="css/simplyCountdown.css" rel='stylesheet' type='text/css'>
	<link href="css/jquery-ui1.css" rel='stylesheet' type='text/css'>
	<link href="css/login_overlay.css" rel='stylesheet' type='text/css'>
	<link href="css/style6.css" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/shop.css" type="text/css">
	<link rel="stylesheet" href="/public/css/shop.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<link href="css/style.css" rel='stylesheet' type='text/css'>
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
	<%- include('../partials/header.ejs')%>

		<%- body %>

			<%- include('../partials/footer.ejs')%>

				<!-- js -->
				<script src="js/singleview.js"></script>
				<!--search jQuery-->
				<script src="js/modernizr-2.6.2.min.js"></script>
				<script src="js/classie-search.js"></script>
				<script src="js/demo1-search.js"></script>
				<!--//search jQuery-->
				<script src="js/easy-responsive-tabs.js"></script>
				<script>
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default', //Types: default, vertical, accordion           
							width: 'auto', //auto or any width like 600px
							fit: true, // 100% fit in a container
							closed: 'accordion', // Start closed if in accordion view
							activate: function (event) { // Callback function if tab is switched
								var $tab = $(this);
								var $info = $('#tabInfo');
								var $name = $('span', $info);
								$name.text($tab.text());
								$info.show();
							}
						});
						$('#verticalTab').easyResponsiveTabs({
							type: 'vertical',
							width: 'auto',
							fit: true
						});
					});
				</script>

				<!--jQuery-->
				<script src="js/jquery-ui.js"></script>
				<script>
					//<![CDATA[ 
					$(window).load(function () {
						$("#slider-range").slider({
							range: true,
							min: 0,
							max: 9000,
							values: [50, 6000],
							slide: function (event, ui) {
								$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
							}
						});
						$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

					}); //]]>
				</script>

				<!-- FlexSlider -->
				<script src="js/jquery.flexslider.js"></script>
				<script>
					// Can also be used with $(document).ready()
					$(window).load(function () {
						$('.flexslider1').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						});
					});
				</script>
				<!-- //FlexSlider-->
				<script>
					$(document).ready(function () {
						$("#myModal").modal();
					});
				</script>
				<!-- // modal -->
				<!-- Count-down -->
				<script src="js/simplyCountdown.js"></script>
				<link href="css/simplyCountdown.css" rel='stylesheet' type='text/css' />
				<script>
					var d = new Date();
					simplyCountdown('simply-countdown-custom', {
						year: d.getFullYear(),
						month: d.getMonth() + 2,
						day: 25
					});
				</script>
				<!--// Count-down -->
				<script src="js/owl.carousel.js"></script>
				<script>
					$(document).ready(function () {
						$('.owl-carousel').owlCarousel({
							loop: true,
							margin: 10,
							responsiveClass: true,
							responsive: {
								0: {
									items: 1,
									nav: true
								},
								600: {
									items: 2,
									nav: false
								},
								900: {
									items: 3,
									nav: false
								},
								1000: {
									items: 4,
									nav: true,
									loop: false,
									margin: 20
								}
							}
						})
					})
				</script>
				<!-- //end-smooth-scrolling -->
				<!-- dropdown nav -->
				<script>
					$(document).ready(function () {
						$(".dropdown").hover(
							function () {
								$('.dropdown-menu', this).stop(true, true).slideDown("fast");
								$(this).toggleClass('open');
							},
							function () {
								$('.dropdown-menu', this).stop(true, true).slideUp("fast");
								$(this).toggleClass('open');
							}
						);
					});
				</script>
				<!-- //dropdown nav -->
				<script src="js/move-top.js"></script>
				<script src="js/easing.js"></script>
				<script>
					jQuery(document).ready(function ($) {
						$(".scroll").click(function (event) {
							event.preventDefault();
							$('html,body').animate({
								scrollTop: $(this.hash).offset().top
							}, 900);
						});
					});
				</script>
				<script>
					$(document).ready(function () {

						$().UItoTop({
							easingType: 'easeOutQuart'
						});

					});
				</script>

				<script src="js/bootstrap.js"></script>
				<script src="js/imagezoom.js"></script>
				<!-- js file -->

</body>

</html>