<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <a
                        href="/userProfile"
                        class="btn btn-dark"
                      >&#8592; Back to Profile</a>
                    
                    </div>
                    <h2 class="text-center text-primary">Add Address</h2>
                </div>
                <form action="/addAddress/<%= profile._id %>" method="post">
                   
                    <label for="">Address</label>
                    <textarea  type="text-field" name="address" class="form-control" value=""  rows="4" cols="50"></textarea>
                    <!-- <input type="text" name="address" class="form-control" value="" /> -->

                    <label for="">Zipcode</label>
                    <input type="text" name="zip" class="form-control" value="" />

                    <label for="">Country</label>
                    <input type="text" name="country" class="form-control" value="" />

                    <label for="">State</label>
                    <input type="text" name="state" class="form-control" value="" />

                    <label for="">City</label>
                    <input type="text" name="city" class="form-control" value="" />
                   
                    <button type="submit" class="btn btn-success mt-4" style="background-color: orange;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-2.2.3.min.js"></script>