<div class="login">
    <div class="container">
        <h2 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight: bold;">OTP</h2>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form id="form">
                <label>Enter the OTP</label>
                <input type="text" name="otp" placeholder="Enter OTP">
                <div class="otpError" style="color: red;"></div>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<script src="js/jquery-2.2.3.min.js"></script>