
<!-- register -->
<div class="register">
    <div class="container">
        <h2 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight: bold;">REGISTER HERE</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>

        <!--             
             <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                <% }) %>
            <% } %>  -->

                <form id="form">
                <input type="text" name ="fname" id="fname" placeholder="First Name" >
                <div class="fnameError" style="color: red;"></div>
                <input type="text" name ="lname" id="lname" placeholder="Last Name" >
                <div class="lnameError" style="color: red;"></div>
                <input type="email" style="margin-top: 12px;" name ="email" id="email" placeholder="Email Address"  >
                <div class="emailError" style="color: red;"></div>
                <input type="text" name ="phonenumber" id="phonenumber" placeholder="Phone Number" >
                <div class="phoneNoError" style="color: red;"></div>
                <input type="password" name ="password" id="password" placeholder="Password" >
                <div class="passwordError" style="color: red;"></div>
                <div class="register-check-box">
                    <!-- <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
                    </div>    -->
                </div>
                <button id="subbtn" class="btn btn-primary mt-5" type="submit">Submit</button>
            </form>
        </div>
        <div class="register-home">
            <a href="/">Home</a>
        </div>
   
    </div>

    <form id="otp" class="otpform pt-5" style="display: none;" class="col-md px-5">
        <div class="form-group">
            <input type="text" class="form-control" id="otpinp" placeholder="" name="otpvalue">
            <label class="mb-2 mt-2">Enter OTP for verification</label>
        </div>
        <div class="text-center">
        <!-- / button to trigger modal  -->
             <a href="#myModal" class="btn btn-danger" data-toggle="modal" id="otpbtn">verify</a>
        </div>
    </form>
</div>
</div>

<div id ='myModal' class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
        <div class="modal-header">
            <!-- <div class="icon-box">
                <i class="material-icons"></i>
            </div> -->
        </div>
        <div class="modal-body">
            <p class="text-center responsetext h5"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div> 
</body>
<!-- //register -->
<script src="js/jquery-2.2.3.min.js"></script>
<script>
    const form = document.querySelector("#form");
    const btn = document.getElementById('subbtn')
    const otpform = document.getElementById('otp')
    const otpbtn = document.getElementById('otpbtn')

    btn.addEventListener('click',async(e)=>{
        e.preventDefault();
    
    const fnameError = document.querySelector('.fnameError');
    const lnameError = document.querySelector('.lnameError');
    const emailError = document.querySelector('.emailError');
    const phoneNoError = document.querySelector('.phoneNoError');
    const passwordError = document.querySelector('.passwordError');

        // // reset errors
        fnameError.textContent='';
        lnameError.textContent='';
        emailError.textContent = '';
        phoneNoError.textContent='';
        passwordError.textContent = '';

        //get the values
        const fname = form.fname.value;
        const lname = form.lname.value;
        const email = form.email.value;
        const phonenumber = form.phonenumber.value;
        const password = form.password.value;

        console.log(fname,lname,email,phonenumber,password);

        try{
            const res = await fetch('/userSignup',{
                method : 'POST',
                body:JSON.stringify({fname,lname,email,phonenumber,password}),
                headers:{'Content-Type': 'application/json'}
        }); 
        const data = await res.json();

        // console.log(data.errorHandler);

        if(data.errorHandler){
            fnameError.textContent=data.errorHandler.fname;
            lnameError.textContent=data.errorHandler.lname;
            emailError.textContent = data.errorHandler.email;
            phoneNoError.textContent= data.errorHandler.phonenumber;            
            passwordError.textContent = data.errorHandler.password;
        }
        if(data.user){
            console.log(data.user.phonenumber);
            const phonenumber = data.user.phonenumber;

            const response =  await fetch('/sendnotification',{
                method : 'POST',
                body: JSON.stringify({phonenumber}),
                headers:{'Content-Type':'application/json'}

            }).catch(e => console.log(e));

            if(response.ok){
                form.style.display = 'none';
                otpform.style.display = 'block';
            }

            otpbtn.addEventListener('click', async(e)=>{
                e.preventDefault()

                const otpInpvalue = otpform.otpvalue.value;
                const responsetext = document.querySelector('.responsetext');

                const otpData ={
                    phonenumber : data.user.phonenumber,
                    email : data.user.email,
                    otp : otpInpvalue
                };
                try{
                    const response = await fetch('/verify-otp',{
                        method : 'POST',
                        headers : {'Content-Type': 'application/json','Accept':'application/json'},
                        body :JSON.stringify(otpData)
                    });
                     console.log("hii");
                     const check = await response.json();
                     console.log(check+"hai");

                     responsetext.textContent = check;
                     console.log(check);
                     otpform.style.display ='none';

                     setTimeout(()=>{
                        location.assign('/userLogin');
                     },3000);

                    }catch{(e=> console.log(e))};

                });
            }
        }catch(err){
            console.log(err);
        }
    })
</script>
