<body>
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css'>
	<link href="/css/jquery-ui1.css" rel='stylesheet' type='text/css'>
	<link href="/css/style6.css" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/shop.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.theme.css" type="text/css" media="all">
	<link href="/css/style.css" rel='stylesheet' type='text/css'>
	<link href="/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!-- login -->
<div class="login">
    <div class="container">
        <h2 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight: bold;">LOGIN FORM</h2>
    
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form id="form">
                <input type="email" name="email" placeholder="Email Address" >
                <div class="emailError" style="color: red;"></div>
                <input type="password" name="password" placeholder="Password" >
                <div class="passwordError" style="color: red;"></div>
                <div class="forgot">
                </div>
                <input type="submit">
            </form>
        </div>
        <h4>For New People</h4>
        <p><a href="/userSignup">Register Here</a> (Or) go back to <a href="/">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>
<!-- //login -->
<script src="js/jquery-2.2.3.min.js"></script>
<script>
    const form = document.querySelector('#form');
    const emailError = document.querySelector('.emailError');
    const passwordError = document.querySelector('.passwordError')

    form.addEventListener('submit',async(e)=>{
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        //get the values
        const email = form.email.value;
        const password = form.password.value;

        try{
            const res = await fetch('/userLogin',{
                method : 'post',
                body:JSON.stringify({email,password}),
                headers:{'Content-Type': 'application/json'}
        });
        const data = await res.json();
        if(data.errorHandle){
            emailError.textContent = data.errorHandle.email;
            passwordError.textContent = data.errorHandle.password;
        }
        if(data.user){
          location.assign('/');  
        }
    }
    catch(err){
        console.log(err);
    }
    })
</script>
</body>